li {
  list-style: none;
}

.sidebarContainer {
  flex: 2.5;
  height: 100%;
  margin: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.sidebarButtonItems {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding: 0;
}

.sidebarButton {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 1px 1px 4px -1px rgb(188, 188, 188);
  transition: box-shadow 0.3s ease;
}

.sidebarButton:hover {
  box-shadow: 1px 1px 4px rgb(188, 188, 188);
}

.sidebarLine {
  border: 1px solid #e2e4e9;
}

.sidebarUsers {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
  padding: 0;
  overflow-y: auto;
  flex: 1;
}

.loginUserItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.loginUserIcon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  cursor: pointer;
  object-fit: cover;
}
