.rightbarContainer {
  flex: 3.5;
  margin: 0 20px 20px 20px;
  padding-top: 20px;
  overflow-y: scroll;
  scrollbar-width: none;
}

.eventTitle {
  display: flex;
  align-items: center;
  gap: 5px;
}

.eventStar {
  width: 56px;
  height: 56px;
}

.eventTextStrong {
  font-weight: bold;
}

.eventImg {
  width: 100%;
  border-radius: 40px;
  margin: 20px 0;
}

.onlineTitle {
  font-size: 18px;
}

.onlineUsers {
  margin: 20px 0;
  padding: 0;
}

.onlineUserContainer {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.onlineMark {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  background-color: blueviolet;
  border-radius: 50%;
  border: 1.5px solid #ffffff;
}

.icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.onlineUserName {
  font-weight: bold;
}

.promotionTitle {
  font-size: 18px;
  margin-bottom: 15px;
}

.promotionWrapper {
  margin-bottom: 30px;
}

.promotionImg {
  width: 100%;
  border-radius: 20px;
}
